@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Quicksand:wght@300..700&display=swap');



*{
    font-family: "Quicksand", sans-serif;
}
.admin-h2 {
        color: #474747;
        font-family: 'Quicksand Semibold 24pt', sans-serif;
        font-size: 24px;
        font-weight: 330;
        line-height: 35px;
        height: 35px;
}
 

   

.custom-link{
    color:  #4486A4; 
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: background-color 0.3s ease;

}

.custom-link:hover {
    color: #d99c8e; 
    
  }

.admin_page-content{
    margin-bottom: 7rem;

}

