.admin-page {
    h2 {
        color: #474747;
        font-family: 'Quicksand Semibold 24pt', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 35px;
        width: 351px;
        height: 35px;
    }
    height: inherit;
}