.dashboard_cards {
    h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 35px;
        margin-top: 12px;
        padding-left: 20px;
        color: #474747;
        font-family: 'Quicksand Light 18pt', sans-serif;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 118px ;
    margin-left: 82px;
    margin-top: 73px
}

.dashboard_card {
    border: 1px solid black;
    width: 500px;
    height: 400px;
    top: 294px;
    left: 82px;
}

.card-top-border {
    background-color: #E6b3A5;
    width: 500px;
    height: 40px;
 }

 .card_content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 49px;
}

 .card-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-content label {
    margin-left: 20px;
    font-family: "Quicksand Semibold 20pt", sans-serif;
}

.list {
    width: inherit;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px 19px 0px 20px;
    font-family: "Quicksand Medium 18pt", sans-serif;
}

.list-divider {
    border-top: 1px solid black;
    width: 481px;   
}

.-complete {
    margin-top: 29px;
}