.app-header {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #4486A4;
    width: 100%;
    height: 110px;
}

.logout-btn button {
    background: none;
    border: none;
    color: #E6B3A5;
    margin-right: 40px;
}