.app-header {
    display: flex;
    background-color: #4486a4;
    width: 100%;
    height: 110px;
}

.logout-btn button {
    background: none;
    border: none;
    color: #e6b3a5;
    margin-right: 40px;
}

.logos-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}




.admin-sunlogo{
    height: 6rem;
    padding-left: 1rem;
} 

.logo-h1{
    font-family: "Quicksand", sans-serif;
    font-size: 2.6rem;
    font-weight: 450;
    padding-left: 4rem;
    border: none;
    color: white;
    

}



@media (max-width: 480px) {
    .header-logo-hidden {
        display: none;
    }
    .logos-container {
        display: flex;
        justify-content: right;
        align-items: center;
        background-color: #4486A4;
        height: 90px;
    }
  

   
}

@media (min-width: 481px) and (max-width: 767px) {
    .header-logo-hidden {
        display: none;
    }
    .logos-container {
        display: flex;
        justify-content: right;
        align-items: center;
        background-color: #4486A4;
        height: 90px;
    }
  

}

@media (min-width: 767px) and (max-width: 1024px) {
    .header-logo-hidden {
        display: none;
    }
    .logos-container {
        display: flex;
        justify-content: right;
        align-items: center;
        background-color: #4486A4;
        height: 90px;
    }
  

}