@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* VARIABLES */
:root {
    --default-font: Inter, sans-serif;
    --font-size: 18px;
}

/* NOTE: this makes width include the border of elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* NOTE: styles that will be extracted later */

/* FORM */

form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem;

    /* text */
    font-family: var(--default-font);
    font-weight: 400;
    line-height: 35px;
    font-size: var(--font-size);
}

/* NOTE: maybe move media queries to sperate section
*        for now wanted styles to be localized */
@media (max-width: 1000px) {
    form {
        flex-direction: column;
        align-items: center;
    }
}

.formTitle {
    /* text*/
    font-size: 24px;

    /* border */
    border-bottom: solid 1px;

}

.residentInfo,
.dateInfo {
    width: 100%;
    max-width: 500px;
}

.formItem {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

label {
    /* text */
    font-size: 18px;
}

input {
    /* text */
    font-size: inherit;

    /* shape */
    border-radius: 5px;
    padding: 16px; /* TODO: 16px is my rem value, double check I can use rem instead */

    /* border */

    border: 1px solid #4486A4;

    /* colours */
    /* background-color: #d9d9d9; */
    background-color:#e7e5e5;
}

/* TODO: fix react-calendar styling */
.react-calendar {
    border: none;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    background-color: white;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2), 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
}

.react-calendar__navigation {
    background-color: #4486A4;
    margin: 0;
}

.react-calendar__viewContainer {
    background-color: white;
}

.react-calendar__tile {
    padding: 10px;
    text-align: center;
    border-radius: 6px;

    
}

.react-calendar__tile--active {
    background-color:  #c99797;
    color: white;
    font-weight: bold;
}


.react-calendar__tile--now {
    background-color: #5aacd2;
    color:white;
    font-weight: bold;
}

/* Parent container styling */
.formItem {
    margin: 1rem 0;
    font-family: Arial, sans-serif;
}

.formItem label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}



select {
    /* text*/
    font-size: inherit;
    /* NOTE: doesn't inherit properly */
    line-height: inherit;
    font-family: inherit;

    /* shape */
    border-radius: 5px;
    padding: 16px; /* TODO: 16px is my rem value, double check I can use rem instead */

    /* border */
    border: none;

    /* colours */
    background-color: #d9d9d9;
}

.timeDisclaimer {
    font-style: italic;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    
}

.request-appt {
    /* text*/
    font-size: 20px;
    /* NOTE: doesn't inherit properly */
    line-height: inherit;
    font-family: inherit;

    /* shape */
    margin: 0 10%;
    width: calc(100% - 20%); /* NOTE: CSS is so cool now */
    border-radius: 5px;

    border: none;
    background-color: #e6b3a5;
    color: white;
    font-size: 17px;
    /* cursor */
    cursor: pointer;
}

.popup-confirm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}

.popup-confirm p {
    margin: 0;
    font-size: 18px;
    color: #333;
}


@media screen and (-webkit-min-device-pixel-ratio: 0) {
   
    
    input,
    select {
        color: black !important; 
    }
}

@media (max-width: 767px) {
  
    input,
    select {
        color: black !important; 
    }

    .react-calendar__navigation button {
        color: #333; 
        text-decoration: none;
        background-color: transparent; 
    }
    
    
   
    .react-calendar__tile--active {
        background-color:  #c99797;
        color: white;
        font-weight: bold;
    }

   
    .react-calendar__tile a {
        color: rgb(27, 24, 24); 
    }
    .react-calendar__tile--weekend {
        color: red !important;
    }

    .react-calendar__tile {
        text-decoration: none !important;
    }

    .react-calendar__tile--now {
        background-color: #5aacd2;
        color:white;
        font-weight: bold;
    }
    
    
    .react-calendar__navigation__prev-button,
    .react-calendar__navigation__next-button {
        color: #333; 
        text-decoration: none;
    }


    .resident-form{

        margin-bottom: 3.7rem;

    }

}