.resident-form {
    width: 300px;
}

.resident_contact {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.resident_address {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

.resident_phone-number {
    display: flex;
    gap: 10px;
}

.resident_phone-number .area-code {
    width: 30px;
}

.resident_phone-number .prefix {
    width: 30px;
}

.resident_phone-number .local-exchange {
    width: 43px;
}

.input-labels {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-areas {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

